



{% extends 'base.html.twig' %}

{% block title %}{% trans %}Continent index{% endtrans %}{% endblock %}

{% block body %}

<style>
    /* .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; } */
    /* .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } */
    .example-wrapper {text-align:center;}
</style>

<div class="example-wrapper">
    <h1 class="mt-5 mb-3">{% trans %}Liste des continents{% endtrans %}</h1>

     <a class="btn btn-success bi bi-plus mt-3 mb-3" href="{{ path('app_continent_new') }}">Ajouter</a> 

  </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for continent in continents %}
            <tr>
                <td>{{ continent.id }}</td>
                <td>{{ continent.nom }}</td>
                <td>
                    <a class="btn btn-info bi bi-eye" href="{{ path('app_continent_show', {'id': continent.id}) }}">Voir</a>
                    <a class="btn btn-secondary bi bi-pencil" href="{{ path('app_continent_edit', {'id': continent.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
